.block {
    border-radius: 10px;
    margin: 0px auto;
    max-width: 600px;
    padding: 1px 30px;
}

.block.click-block {
    border-radius: 0px;
    border-bottom: 1px solid #BBB;
    cursor: pointer;
    transition: background-color 0.2s;
}
.block.click-block:hover{
    background-color: #EEE;
}

.block h1 {
    font-size: 32px;
    font-variant: small-caps;
    font-weight: normal;
}
.block h1::first-letter {
    font-weight: lighter;
}
.block h2 {
    font-size: 28px;
    font-variant: small-caps;
    font-weight: normal;
}
.block h2::first-letter {
    font-weight: lighter;
}
.block h3 {
    font-size: 24px;
    font-variant: small-caps;
    font-weight: normal;
}
.block h3::first-letter {
    font-weight: lighter;
}
.block h4 {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: normal;
}
.block h5::first-letter {
    font-weight: lighter;
}

.block p {
    text-align: justify;
}
