<!DOCTYPE html>
<html>

<head>
    {{ partial "stylesheets" . }}
    <script
        id="mcjs">!function(c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/bbff0b7fa004d84b4e99d1484/afb00eed0a4dcc89dbce92bd8.js");</script>
</head>

<body>
    <div class="hero">
        {{ with resources.Get "images/dppa_side.png" }}
        <img src="{{ .RelPermalink }}" alt="{{ .Site.Title }}" height="150em" />
        {{ end }}
    </div>
    {{ partial "navbar.html" . }}
    {{ partial "content.html" . }}

    {{ range .Pages.ByDate.Reverse }}
    <div class="block click-block" onclick="window.location.href='{{ .Permalink }}'">
        <h2>{{ .Title }}
            {{ if .Param "topic" }}
            <span class="subtitle-topic">| {{ .Param "topic" }}</span>
            {{ end }}
            <br /><span class="subtitle-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</span>
        </h2>

        <p>{{ .Summary }}</p>
    </div>
    {{ end }}

    {{ partial "footer.html" . }}

</body>

</html>
