<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <meta name="date" content="{{ .Date.Format " 2006-02-01" }}" scheme="YYYY-MM-DD" />
    {{ partial "stylesheets" . }}
</head>

<body>
    <div class=" hero">
        <h1>{{ .Site.Title }}</h1>
    </div>
    {{ partial "navbar.html" . }}
    <div class="block">
        <h1>{{ .Title }}<span class="subtitle-date"><br />{{ .Date.Format "Monday, Jan 2, 2006" }}</span></h1>
    </div>
    {{ partial "content.html" . }}
    <div style="font-style:italic;text-align:center;padding-bottom:10px;opacity:0.7">Suggest edits to this page on <a
            href="https://github.com/rydrman/pipedev.org">GitHub</a></div>
    {{ partial "footer.html" . }}

</body>

</html>
