<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <meta name="date" content="{{ .Date.Format "2006-02-01" }}" scheme="YYYY-MM-DD" />
    {{ partial "stylesheets" . }}
</head>

<body>
    <div class=" hero">
        <h1>{{ .Site.Title }}</h1>
    </div>
    {{ partial "navbar.html" . }}
    <div class="block">
        <h2>{{ .Title }} <span class="subtitle-date">| {{ .Date.Format "Monday, Jan 2, 2006" }}</span></h2>
    </div>
    {{ partial "content.html" . }}
    {{ partial "footer.html" . }}

</body>

</html>
