<!DOCTYPE html>
<html>

<head>
    <title>{{ .Title }}</title>
    <meta name="date" content="{{ .Date.Format " 2006-02-01" }}" scheme="YYYY-MM-DD" />
    {{ partial "stylesheets" . }}
    <script
        id="mcjs">!function(c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/bbff0b7fa004d84b4e99d1484/afb00eed0a4dcc89dbce92bd8.js");</script>
</head>

<body>
    <div class=" hero">
        {{ with resources.Get "images/dppa_side.png" }}
        <img src="{{ .RelPermalink }}" alt="{{ .Site.Title }}" height="150em" />
        {{ end }}
    </div>
    {{ partial "navbar.html" . }}
    <div class="block">
        <h1>{{ .Title }}<span class="subtitle-date"><br />{{ .Date.Format "Monday, Jan 2, 2006" }}</span></h1>
    </div>
    {{ partial "content.html" . }}
    <div style="font-style:italic;text-align:center;padding-bottom:10px;opacity:0.7">Suggest edits to this page on <a
            href="https://github.com/rydrman/pipedev.org">GitHub</a></div>
    {{ partial "footer.html" . }}

</body>

</html>
